#4#      .-  _             _  -.
     /   /  .         .  \   \ #6#    .   .     o
#4#    (   (  (  #7# (-o-) #4#  )  )   ) #6#   |   |,---...    ,,---.,---.,---.,---.
#4#     \   \_ ` #7#  |x|#4#   ` _/   /  #6#   |   ||   || \  / |---'|    `---.,---|
#4#      `-      #7#  |x|#4#        -`   #6#   `---'`   '`  `'  `---'`    `---'`---^
              #7#  |x|#r#

    Enter your nickname, or the one you'd like if you are new here:
