<%= fg[:yellow] %>      .-  _             _  -.
     /   /  .         .  \   \ <%= fg[:purple] %>    .   .     o
<%= fg[:yellow] %>    (   (  (  <%= fg[:white] %> (-o-) <%= fg[:yellow] %>  )  )   ) <%= fg[:purple] %>   |   |,---...    ,,---.,---.,---.,---.
<%= fg[:yellow] %>     \   \_ ` <%= fg[:white] %>  |x|<%= fg[:yellow] %>   ` _/   /  <%= fg[:purple] %>   |   ||   || \  / |---'|    `---.,---|
<%= fg[:yellow] %>      `-      <%= fg[:white] %>  |x|<%= fg[:yellow] %>        -`   <%= fg[:purple] %>   `---'`   '`  `'  `---'`    `---'`---^
              <%= fg[:white] %>  |x|<%= fg[:reset] %>

    Enter your nickname, or the one you'd like if you are new here:
